ul {
    list-style: none;
}
img {
    width: 30px;
    height: 30px;
}
li {
    background-color: black;
    color: white;
    padding: 10px;
    opacity: 0.4;
}
li:hover {
    opacity: 1.0;
}
#uno {
    width: 150px;
}
#due {
    position: relative;
    left: 400px;
    width: 190px;
}
